<%= render 'layouts/search_bar' %>
<div class="jumbotron">
    <div class="col-sm-12 mx-auto">
      <p class="text-justify">The present website provides electronic access to the 3rd edition of the first Japanese dictionary of philosophy, the Tetsugaku Jii 哲學字彙 (1912). This project serves as part of the source material of the DFG research project <a href="https://gepris.dfg.de/gepris/projekt/398104355?language=en" target="_self">»The Translation of Philosophy to Japan from the Perspective of the Philosophy of Culture«</a>. It exhibits the forging of the philosophical vocabulary in Japanese and, hence, the linguistic base of the comprehensive process of the translation of Western academic philosophy into Japan. The analysis of the dictionary will be conducted both statistically and qualitatively. The dictionary servers as a valuable resource to all scholars of the modern history of ideas of Japan and Japanese philosophy. It will be developped into a more comprehensive data base. The present team consists of Ralf Müller as the leading researcher, supported by Maria Römer (Japanologists), Yasuo Nozaki (Translator), and Lena Nahrwold (Applied informatics).</p>
    </div>
</div>
