<%= render 'layouts/search_bar' %>
<%= render 'cookies_eu/consent_banner' %>
<div class="jumbotron">
    <div class="col-sm-12 mx-auto text-justify">
      <p>The present website provides electronic access to the <a href="https://dl.ndl.go.jp/info:ndljp/pid/994560" target="_blank">3rd edition of the first Japanese dictionary of philosophy, the Tetsugaku Jii 哲學字彙</a> (1912). The <a href="https://dl.ndl.go.jp/info:ndljp/pid/752943" target="_blank">first edition</a> was published as early as 1881.</p>
      <p>This project serves as part of the source material of the DFG research project <a href="https://gepris.dfg.de/gepris/projekt/398104355?language=en" target="_blank">»The Translation of Philosophy to Japan from the Perspective of the Philosophy of Culture«</a>.</p>
      <p>The dictionary exhibits the forging of the philosophical vocabulary in Japanese and, hence, the linguistic base of the comprehensive process of the translation of Western academic philosophy into Japan. The analysis of the dictionary will be conducted both statistically and qualitatively. The dictionary serves as a valuable resource to all scholars of the modern history of ideas of Japan and Japanese philosophy.</p>
      <p>The digitization of the dictionary and online access will be developed into a more comprehensive data base that includes links to other resources and collaborative tools that can help to establish a base for more advanced research.</p>
      <p>At present, the Japanese terms can be looked up for page numbers in the original dictionary. Logged into an account (free of charge and for research purposes only), more comprehensive data are provided.</p>
      <p>Future plans include the expansion of the database to include the Iwamani Dictionary of Philosophy (compiled by Kyoto School philosophers and other notable scholars in Japan).</p>
      <p>The analysis of the Tetsugaku Jii and the Iwanami Dictionary based on khcoder will be undertaken over the summer 2020.</p>
      <p>The present team consists of <a href="http://ralfmueller.eu/" target="_blank">Ralf Müller</a> as the principal investigator, supported by Maria Römer (Japanologists), Yasuo Nozaki (Translator), and Lena Nahrwold (Applied Informatics).</p>
    </div>
</div>
