<footer class="page-footer font-small blue pt-4">
      <div class="container text-center">
              <copyright>
                  &copy; Tetsugaku-Jii <%= Time.now.year %> &nbsp;
                  <%= link_to "Cookies", page_path('cookies') %> &middot;
                  <%= link_to "Privacy Policy", page_path('privacy_policy') %> &nbsp;
                  info@tetsugaku-jii.org
              </copyright>
      </div>
</footer>
